extends ./layout.jade

block header
  +nav("Unicon 40", "dropdown_menu")
    +nav_item( "/", "active" ) Startseite
    +nav_item_dropdown( "#" )( label="Programm")
      +nav_item( "/programm/anime/" ) Anime
      +nav_item( "/programm/haendler/" ) Händler
      +nav_item( "/programm/zombies-keller.html" ) Nerf War
      +nav_item( "/programm/spiele/" ) Spiele
      +nav_item( "/programm/workshops/" ) Workshops

    +nav_item( "/catering.html" ) Catering
    +nav_item( "http://unicon-kiel.de/wiki/" ) Mitmachen
    +nav_item( "/impressum.html" ) Impressum
    

block content
  .container
    .jumbotron
      != page.html

block footer
  .container
    p.text-muted Unicon 40 - Organisiert von AKF, KiAi
