doctype html
html(lang="de")
  head
    meta(charset='utf-8')
    title=page.title
    link(rel='stylesheet', href='/style/main.css')
    script(type='text/javascript', src='/script/main.js')
  body
    header
      block header
    main
      block content
        Nothing here Yet
