extends page.jade

mixin event_panel(event)
  +panel(event.title, "fullheight")
    !=event.html

block append content
  .container
    - var keys = Object.keys(page.parent).filter(function(x) { return page.parent[x].filename != page.filename; })
    - for(var i = 0; i < keys.length; i += 3)
        .row
          - for(var j = 0; j < 3 && i + j < keys.length; j++)
            - event = page.parent[keys[i + j]]
            .col-md-4
              +event_panel(event)


