extends page.jade

block append content
  //- obj = JSON.stringify(page);
  //- obj = JSON.decycle(contents);
  ul
    - each val, key in page.parent
      if key != "index.md"
        li
          a(href="/#{page.parent[key].filepath.relative.replace('.md', '.html')}")!= page.parent[key].metadata.title

  //p= page.filepath.relative
