doctype html
html(lang="de")
  head
    meta(charset='utf-8')
    title=page.title
    link(rel='stylesheet', href='/style/main.css')
    script(type='text/javascript', src='/script/main.js')
  body
    header
      ul
        li
          a(href='/') Home
        each val, name in contents.posts
          li
            a(href='/posts/#{name}/') #{name}
    != page.html
