extends ./layout.jade

block content
  aside.eventlist
    ul
      each event, index in contents.programm
        li
          a(href='#{event.filename}')
            !=event.title
  each event, index in contents.programm
    article.event
      h1
        !=event.title
      !=event.html
      small.right
        !=event.metadata.place
